@font-face {
    font-family: 'Isaac';
    font-style: normal;
    font-weight: 400;
    font-display: auto; /* or block, swap, fallback, optional */
    src: url('@/assets/isaac/isaac.woff2') format('woff2');
  }
  